@keyframes blink {
  50% {
    opacity: 0;
  }
}

.blink {
  animation: blink 1s step-start 0s infinite;
}

.zoom {
  transition-duration: .2s;
}

.zoom:hover {
  transform: scale(1.1);
  z-index: 39;
}