@font-face {
  font-family: "JetBrains Mono";
  src: url("../font/JetBrainsMono-Regular.woff2");
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("../font/JetBrainsMono-Bold.woff2");
  font-weight: bold;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("../font/JetBrainsMono-Italic.woff2");
  font-style: italic;
}